RECONDNS_DB_DSN=postgres://bbscope:CHANGE_ME@localhost:5432/bbscope?sslmode=disable
FEISHU_WEBHOOK=https://open.feishu.cn/open-apis/bot/v2/hook/0ef53dc3-91cf-43f2-abd5-8dc4d94c7b63
RECONDNS_WORKER_POLL_INTERVAL=10s
BBOT_PASSIVE_ONLY=true
RECONDNS_HTTPX_TIMEOUT_SEC=10
RECONDNS_HTTPX_RETRIES=2
